<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-v-12b2bced="" id="page-404" class="wrapper clearfix" style="margin: 10% auto;width: 300px;height: 300px">
    <div data-v-12b2bced="" class="p404">
        <img data-v-12b2bced="" src="//s1.hdslb.com/bfs/static/jinkela/space/assets/theme-buy-failed.png">
        <p data-v-12b2bced="" class="error code">错误码：-404</p>
        <p data-v-12b2bced="" class="error message">fetch info 啥都木有</p>
    </div>
    <a data-v-12b2bced="" class="back-btn">返回上一页</a>
</div>
</body>
</html>